.subtaller{
    text-align: center;
    color: rgb(131, 166, 193);
}

.titulotaller{
    color: bisque;
    text-decoration: underline;;
    text-align: left;
}

.parrafotaller{
    text-align: justify;
    color: aquamarine;
}

.dice{
    color: darkgreen;
}

.eye{
    color: darkviolet;
}

.card{
    color: rgb(243, 225, 123);
}