.parrafo{
    text-align: justify;
    color:rgb(105, 211, 223);
}

.parrafo2{
    color:rgb(152, 128, 128);
    text-align: justify;
}

.wifi{

    color:rgb(255, 196, 232);
}

.walk{
    color:darkorange;
}

.warning{
    color:red;
}

.titulo{
    padding: 10px;
    color:rgb(36, 143, 117);
    text-align: center;
}